﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="WucDateRange.ascx.cs" Inherits="AfrcSvcStation.WebUserControl.WucDateRange" %>

<%--<asp:TextBox ID="datepicker" runat="server" CssClass="datepicker"></asp:TextBox>--%>
<%--<div class="row">
    <div class="col-md-6">
        <div class="input-group input-group-sm">--%>
<span>
    <asp:TextBox ID="datepicker" runat="server" CssClass="datepicker form-control"></asp:TextBox>
</span>
<%--<input id="datepicker" class="form-control hasDatepicker" type="text">--%>
<%--            <span class="input-group-addon">
                <i class="ace-icon fa fa-calendar"></i>
            </span>--%>
<%--        </div>
    </div>
</div>--%>



<%--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <link rel="stylesheet" href="http://static.jquery.com/ui/css/base2.css" type="text/css" media="all" />
 <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css" type="text/css" media="all" />
 <link rel="stylesheet" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css" type="text/css" media="all" />


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>

<script type="text/javascript" charset="utf-8">
 jQuery(function(){
  jQuery("#datepicker").datepicker();
 });
</script>
</head>
<body>
<input type="text" id="datepicker"/>
</body>
</html>--%>