﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="WucDate.ascx.cs" Inherits="WebUserControls_WucDate" %>
<div class="input-prepend"> <span class="add-on" style="float:left;"><i class="fa fa-calendar"></i></span><asp:TextBox ID="txtDate" runat="server" onclick="WdatePicker({dateFmt:'yyyy/MM/dd HH:mm' })" style="width: 150px" placeholder="請輸入日期"  CssClass="required"   ></asp:TextBox>
  </div>