﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="WucLeftMenu.ascx.cs" Inherits="AfrcSvcStation.WebUserControl.WucLeftMenu" %>
<ul>

    <%--左方選單區--%>
    <%Response.Write(LeftMenu().ToString()); %>

</ul>