﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="WucSimpleEdit.ascx.cs" Inherits="AfrcSvcStation.WebUserControl.WucSimpleEdit" %>
<div class="widget-main">
    <div class="col-sm-12">
        <div class="widget-box widget-color-blue">
            <div class="widget-header widget-header-small"></div>

            <div class="widget-body">
                <div class="widget-main no-padding">
                    <div class="md-editor active" id="1476873027631">

                        <textarea name="content" id="txtContent" data-provide="markdown" data-iconlibrary="fa" rows="10" class="md-input" style="resize: none;" runat="server"></textarea>
                        <div class="md-fullscreen-controls"><a href="#" class="exit-fullscreen" title="Exit fullscreen"><span class="fa fa-compress"></span></a></div>
                        <div class="md-fullscreen-controls"><a href="#" class="exit-fullscreen" title="Exit fullscreen"><span class="fa fa-compress"></span></a></div>
                    </div>
                </div>

                <!--div class="widget-toolbox padding-4 clearfix">
                    <div class="btn-group pull-right">
                        <button class="btn btn-sm btn-purple">
                            <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                            上傳圖片
                        </button>
                    </div>
                </div-->

                                                                <!--div class="widget-main">
                                                    <div>
                                                        <div class="control-group row" id="uploaddiv">
                                                            <div class="col-sm-12">
                                                                <input type="file" id="id-input-file-2">
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div-->
                                                                        <div class="control-group row" id="uploaddiv">
                                                            <div class="col-sm-12">
                                                                <%--<input type="file" id="id-input-file-3">--%>
                                                                <asp:FileUpload ID="FileUpload_List" runat="server" />

                                                            </div>
                                                        </div>
            </div>
        </div>
    </div>
</div>
