﻿<%@ Page Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="CallUpImport.aspx.cs" Inherits="AfrcSvcStation.Function.DataImportOrExport.CallUpImport" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
     <div class="col-xs-6"> 
    <div class="widget-body">
                                                <div class="widget-main">
                                                    <div>
                                                        <div class="control-group row" id="uploaddiv">
                                                            <div class="col-sm-12">
                                                                <span>選擇匯出地點</span>
                                                                <input type="file" id="id-input-file"/>                                                                
                                                            </div>
                                                        </div>

                                                        </div>

    <div class="widget-body">
                                                <div class="widget-main">
                                                    <div>
                                                        <div class="control-group row" id="uploaddiv1">
                                                            <div class="col-sm-12">
                                                                <span>選擇匯出地點</span>
                                                                <input type="file" id="id-input-file-1"/>                                                                
                                                            </div>
                                                        </div>
                                                        <div class="control-group row" id="uploaddiv2">
                                                            <div class="col-sm-12">
                                                                <span>選擇匯出地點</span>
                                                                <input type="file" id="id-input-file-2"/>                                                                
                                                            </div>
                                                        </div>
                                                        <div class="control-group row" id="uploaddiv3">
                                                            <div class="col-sm-12">
                                                                <span>選擇匯出地點</span>
                                                                <input type="file" id="id-input-file-3"/>                                                                
                                                            </div>
                                                        </div>
                                                        <div class="control-group row" id="uploaddiv4">
                                                            <div class="col-sm-12">
                                                                <span>選擇匯出地點</span>
                                                                <input type="file" id="id-input-file-4"/>                                                                
                                                            </div>
                                                        </div>

                                                    </div>



                                                </div>
                                            </div>
         </div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="InitJS" runat="server">
</asp:Content>
