﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="CaseModifiedDataExport.aspx.cs" Inherits="AfrcSvcStation.Function.DataImportOrExport.CaseModifiedDataExport" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
                <div class="fileUpload btn btn-primary" style="float: left">
                <span>選擇匯出地點</span>
                <input type="file" id="attachfile" name="replyFiles" multiple="multiple" class="upload" />
            </div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="InitJS" runat="server">
</asp:Content>
