/*! Pushy - v1.0.0 - 2016-3-1
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */
/* Menu Appearance */


.pushy::-webkit-scrollbar {
  width: 10px;
}
.pushy::-webkit-scrollbar-track {
  background-color: rgba(217, 217, 217, 0);
}
.pushy::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: inset 0.05em 0.05em 0 rgba(0, 0, 0, 0.1), inset 0 -0.05em 0 rgba(0, 0, 0, 0.07);
}
ul:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}

.menu-btn-wrap{z-index: 1031;display: none;width: 100%;background: #fff;box-shadow: 0 5px 0 0 rgba(29,59,95,.2);}
.menu-btn {width: 100px;padding: 10px;color: #1d3b5f;text-align: center;cursor: pointer;font-size: 25px;float: left;}

.pushy {width:100%;padding: 4px 0 4px 0;margin: 0 auto;box-shadow: 0 5px 0 0 rgba(29,59,95,.2);z-index: 1031;position: relative;}
.pushy ul{max-width: 1024px;margin: 0 auto;}
.pushy li{float: left;margin: 2px 3px;}
.pushy a {display: block;background: #eee;padding: 3.5px 7.5px;font-weight: bold;color: #0097c6;text-decoration: none;border-radius: 5px;}
.pushy a:hover{background: #0097c6;color: #fff;}
.pushy-submenu ul{display: none;position: absolute;box-shadow: 5px 5px 0 0 rgba(29,59,95,.2);}
.pushy-submenu:hover .has-sub{background: #0097c6;color: #fff;}
.pushy-submenu:hover a+ul{display: block;}
.pushy-submenu ul{padding: 6px 0 0 0;text-align: left;}
.pushy-submenu ul li{float: none;margin: 0;}
.pushy-submenu ul li a{color: #1d3b5f;padding: 8px 10px;border-radius: 0;background: #feffff}

@media screen and (max-width: 976px){
.menu-btn-wrap{display: block;float: left;}
.menu-btn-wrap .header-btn{float: right;padding: 12px 20px 0 0;}

.pushy {
  position: fixed;
  width: 200px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: #191918;
  overflow: auto;
  visibility: hidden;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */
  margin: 0;  box-shadow: 0 0 0 0 rgba(29,59,95,0);
}
.pushy ul{margin: 0;}
.pushy li{float: none;margin: 0;border-bottom: solid 1px #b3b3b1;}
.pushy a {
  display: block;
  color: #b3b3b1;
  padding: 15px 20px;
  text-decoration: none;
  outline: 0;
  background: rgba(0,0,0,0);
  border-radius: 0;
}
.pushy a:hover {
  color: #FFF;
  background: rgba(0,0,0,0);
}
.pushy-submenu ul{display: inherit;position: relative;box-shadow: 0 0 0 rgba(0,0,0,0)}
.pushy-submenu:hover .has-sub{background: rgba(0,0,0,0);color: #fff;}
.pushy-submenu:hover a+ul{display: block;}
.pushy-submenu ul{padding:0;}
.pushy-submenu ul li{float: none;margin: 0;border-bottom: 0;}
.pushy-submenu ul li a{color: #b3b3b1;padding: 8px 5px 8px 40px;border-radius: 0;background: #191918;}
.pushy ul:first-child {
  margin-top: 10px;
}
.pushy.pushy-left {
  left: 0;
}
.pushy.pushy-right {
  right: 0;
}

/* Menu Movement */
.pushy-left {
  -webkit-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0);
}

.pushy-open-left #container,
.pushy-open-left .push {
  -webkit-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
}

.pushy-right {
  -webkit-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
}

.pushy-open-right #container,
.pushy-open-right .push {
  -webkit-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0);
}

.pushy-open-left .pushy,
.pushy-open-right .pushy {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Menu Transitions */
#container,
.pushy,
.push {
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

/* Site Overlay */
.site-overlay {
  display: none;
}

.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: fade 500ms;
  animation: fade 500ms;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Submenu Appearance */
.pushy-submenu {
  /* Submenu Icon */
}
.pushy-submenu ul {
  /*padding-left: 15px;*/
  transition: max-height 0.2s ease-in-out;
}
.pushy-submenu ul .pushy-link {
  transition: opacity 0.2s ease-in-out;
}
.pushy-submenu > a {
  position: relative;
}
/*.pushy-submenu > a::after {
  content: '';
  display: block;
  height: 11px;
  width: 8px;
  position: absolute;
  top: 50%;
  right: 15px;
  background: url("../img/arrow.svg") no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: transform 0.2s;
}*/

/* Submenu Movement */
.pushy-submenu-closed ul {
  max-height: 0;
  overflow: hidden;
}
.pushy-submenu-closed .pushy-link {
  opacity: 0;
}



.pushy-submenu-open ul {
  max-height: 1000px;
}
.pushy-submenu-open .pushy-link {
  opacity: 1;
}
.pushy-submenu-open a::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}

.no-csstransforms3d .pushy-submenu-closed ul {
  max-height: none;
  display: none;
}

}

/*# sourceMappingURL=pushy.css.map */
