body{font: 16px Microsoft JhengHei, Arial, "Helvetica Neue", Helvetica, sans-serif, TimesNewRoman;background: url(../img/bg.gif)repeat-y; background-size: contain;background-attachment: scroll}
.index-bg{background: #fff url(../img/i-bg.gif) repeat-y;background-size: contain;}
*{font: 16px Microsoft JhengHei, Arial, "Helvetica Neue", Helvetica, sans-serif, TimesNewRoman;}
a:hover, a:focus{text-decoration: none;}
content{margin-top: 170px;}
footer{background: #4FA3DD url(../img/footer-bg.jpg) repeat-x}
ul{list-style: none;padding: 0;margin: 0;}
nav{background: #feffff;}
.search-box:after, .rc-area:after, ul:after, .header-link:after, .header-btn:after, .header-menu:after, .news-in:after, .site-map:after, .tab-pane:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}

/*** index ***/
.bottom-link{margin-bottom: 25px;}
.bottom-link li a{display: block;float: left;color: #fff;font-size:15px;font-weight:bold;margin-right: 20px;}
.btn-rc{background: #dcf2f7 url(../img/btn-rc-bg.jpg) repeat-x;color: #0097c6; border: solid 2px #5dbbd7;line-height: 19px;margin-top: 13px;}
.btn-rc:hover{border: solid 2px #01c5ff;color: #00b0e6;box-shadow: 0 0 3px rgba(1,197,255,.2)}
.fb-n-news{padding: 20px 0 !important;}
.fb-page{width: 229px;margin:0 -229px 0 0;float: left;position: relative;z-index: 3;}
.fb-page-wrap{width: 195px; height: 300px;border: solid 1px #6AB6D6;overflow: hidden;float: right;box-shadow: 5px 5px 0 0 rgba(29,59,95,.2);}
.form-rc{padding: 5px;border: solid 1px #74d8f3;border-radius: 5px; background: #57BFDB;box-shadow: 5px 5px 0 0 rgba(80,170,206,1) inset;color: #fff}
.friend-btn{text-align: center;padding-bottom: 15px;}
.friend-img{width: 100px;height: 100px;margin: 10px auto;border-radius: 50%;background: #fff;overflow: hidden;text-align: center;border: solid 2px #337ab7; box-shadow: 5px 5px 0 0 rgba(29,59,95,.2);}
.friend-img img{width: 80%; height:auto;margin-top: 10px;}
.news-page{float: right;position: absolute;right: 0;bottom: 0;}
.more{color: #396191;float: right;/*position: absolute;*/right: 0;bottom: 0;text-decoration: none;}
.more:hover{color: #f54160;text-decoration: none;}
.news{width: 100%;float: left;position: relative;z-index: 1;}
.news-in{margin-left: 260px;min-height: 300px;}
.news-tb{width: 100%;margin: 0 35px 0 0;position: relative;top: 8px;}
.news-tb tr td{height: 44px;vertical-align: middle;border-bottom:solid 1px #B3DFF1;padding: 10px;}
.news-tb tr td a{color: #000;}
.news-tb tr td a:hover{text-decoration: underline;}
.news-tb tr td a:before{content: ".";color: rgba(0,0,0,0);background: url(../img/list-caret.png) no-repeat;width: 12px;height: 14px;display: block;float: left;margin: 2px 6px 0 0;}
.news-tb tr:last-child td{border-bottom:0;}
.news-tb tr td:nth-child(2){width: 115px;text-align: center;}
.news-top{font-size: 24px;font-weight: bold;color: #0097C5;padding-top: 5px;}
.banner-btn{width: 320px;float: right;margin-top: 28px;}
.banner-btn i{font-size: 50px;margin: 10px 0 7px 0;}
.banner-btn span{font-weight: bold;}
.index-banner{height: 300px;background: url(../img/index-banner.jpg) no-repeat;background-attachment: fixed;background-position: 50% 140px;margin-top: 161px;box-shadow: 0 0 0 5px rgba(29,59,95,.2) inset;}
/*.index-banner ul li:nth-child(odd) a{border:solid 2px #0097C6;}
.index-banner ul li:nth-child(even) a{border:solid 2px #0068B5;}*/
.index-banner ul li a{width: 140px; height: 100px;background: #CFEDF4;border-radius: 10px;display: block;float: left;margin: 10px 20px 10px 0px;text-align: center;border:solid 2px #0097C6;}
.other-link img{display: block;border: solid 2px #337ab7; box-shadow: 5px 5px 0 0 rgba(29,59,95,.2);margin-bottom: 20px;}
.rc-area a{float: left;text-align: center;margin: 0 15px 15px 15px;}
.rc-img{max-width: 110px;overflow: hidden;border: solid 2px #337ab7; box-shadow: 5px 5px 0 0 rgba(29,59,95,.2);border-radius: 40px; margin-bottom: 10px;}
.rc-area a img{height: 80px;}
.service li{float: left;text-align: center;margin-bottom: 20px;padding: 0 5px;}
.service li a{display: block;padding: 8% 0; color: #fff; box-shadow: 5px 5px 0 0 rgba(29,59,95,.2);}
.service li a span{font-weight: bold;}
.service li a img{margin-bottom: 10px;}
.service li:nth-child(odd) a{background: #0067B5;border-radius: 10px;}
.service li:nth-child(even) a{background: #0097C6;border-radius: 10px;}
/*** index ***/

/*** sidemenu ***/
.sidemenu{padding: 30px 0;}
.sidemenu li a{display: block;padding: 8px 8px 8px 33px;color: #fff;font-weight: bold;text-decoration: none;}
.sidemenu li a:hover{background: #0067B5;}
.sidemenu li a i{display:none;font-size: 22px;width: 30px; text-align: center;margin-right: 5px;font-weight: normal;position: relative;top: 2px;}
/*** sidemenu ***/


.banner{height:179px; background: url(../img/banner-bg.jpg) no-repeat;margin-top: 161px;box-shadow: 0 0 0 5px rgba(29,59,95,.2) inset;}
.banner-text{font-size: 48px;color: #1d3b5f;padding: 48px 0 0 70%;font-weight: bold;}
.caret-img{display: block;width: 14px; height: 12px;background: url(../img/caret.png) no-repeat;float: right;margin: 4px 0 0 15px;}
.container{padding: 0;}
.content-title{padding: 15px 20px 10px 42px;}
.content-box{padding: 15px 20px 32px 42px;}
.content-title h3{color: #0097C5;font-weight: bold;}
.content-left{width: 227px;float: left;margin: 0 -227px 0 0;position: relative;z-index: 3;}
.content-right{width: 100%;float: left;position: relative;z-index: 1;}
.content-right-in{min-height: 450px;margin-left: 227px;background: #fff url(../img/content-bg.jpg) repeat-y;}
.f-left{float: left;}
.f-right{float:right;}
.for-bg{width: 100%;}
.for-bg-blue{background: url(../img/bg-blue.png)repeat-y;background-size: contain; }
.footer-left, .footer-right{padding-top: 25px;color: #D6D6D6;}
.footer-right td{line-height: 25px;padding-bottom: 20px;vertical-align: top;font-size: 15px;}
.footer-right tr:nth-child(3) td img{position: relative;top: -7px;}
.footer-link {width: 100%;}
.footer-link tbody{/*background: #fff;*/}
.footer-link tbody td{vertical-align: top;border-right: solid 1px #dbe0e4;}
.footer-link tbody td:last-child{border-right:0;}
.footer-link td a{font-size: 14px;display: block;padding: 5px 0; text-align: center;color: #1d3b5f;}
.footer-link th a{color: #fff;font-size: 15px;color: #fff;display: block;text-align: center;padding: 8px 0;}
/**/.header-link{background: url(../img/header-link-bg.png) repeat-y;background-position: 8px 0;float: right;width: 485px;margin-right: 12px;padding: 0;}
.header-link li{float: left;}
.header-link li a{display: block;margin-right: 25px;color: #fff;font-size: 14px;padding: 11.5px 0}
.header-btn{float: right;margin-top: -40px;}
.header-btn a{margin: 0 6px;float: left;padding: 8px 0;}
.information{font-size: 15px;line-height: 25px;}
.left-box{padding-right: 15px;}
.logo{float: left;}
.logo a{display: block;}
.links{background: #fff url(../img/links-th.svg) repeat-x; background-size: auto 35px;}
.main-content{background: #4fa4dd url(../img/side-menu-bg.jpg) repeat-y;}
.navbar-inverse{background:#4fa4dd url(../img/header-bg.jpg) repeat-x;border:0;}
.other-section{padding: 32px;}
.right-box{padding-left: 15px;}
.serach{padding-top: 14px;}
.serach i{color: #fff;font-size: 24px; padding-left: 8px;}
.search-box{float: right;margin-top: 15px;}
.search-box div{float: left; margin-left: 15px;}
.site-map{background: #eee;padding: 0 0 0 20px;}
.site-map li{display: block;float: left;color: #000;font-size: 13px;padding: 5px 0 6px 0;}
.site-map li a, .site-map li span{font-size: 13px;color: #000;}
.site-map li span{margin: 0 5px;}
.site-map li:last-child span{visibility: hidden;}
.subtab{width: 100%;}
.subtab td{padding: 6px}
.subtab a{font-size: 14px;color: #1d3b5f;text-decoration: none;}
.subtab a:hover{color: #0097C5;}
.subtab i{font-size: 7px;margin-right: 5px;position: relative;top: -1px;color: #0097C5;}
.subtab-wrap{padding: 15px 20px 0 42px;}
.subtab-wrap hr{border: solid 2px #0097C5;margin: 20px 0 10px 0;box-shadow: 3px 3px rgba(29,59,95,.2);}
.text-box{margin-bottom: 30px;}
.text-content{padding-left: 20px;}
.text-content li{margin-bottom: 15px;}
.text-title{color: #0097C5;margin-bottom: 20px;}
.title{width: 100%;font-size: 24px;font-weight: bold;color: #0097C5;padding: 15px 0 25px 0;background: url(../img/title-hr.jpg) no-repeat; background-position: 110px 32px;}
.title-l{ background-position: 158px 32px;}

/* rwd tab */
.nav-tabs,.nav-pills {position: relative;}
.tab-bottom{width: 100%;height: auto;}
.tab-box{float: left;margin: 0 5px 15px 0;white-space: nowrap;}
.tab-box-right{border-top: solid 1px #46b8da;border-bottom: solid 1px #46b8da;border-right: solid 1px #46b8da;border-radius: 4px;padding-right: 5px;white-space: nowrap;float: left;}
.tab-box-right input{max-width: 50px;margin: 0 5px;}
.tab-box-right button{border-top-right-radius: 0;border-bottom-right-radius: 0;
	padding: 5px 12px;}
.tab-btn{margin-bottom: 10px;margin-right: 5px;}
.tab-btn-group{margin-top: 20px;}
.tab-btn-title{margin-bottom: 20px;}
.tab-default{position: relative;display: block;padding: 10px 15px;color: #b3b2b2;}
.tab-wrapper{height: auto;padding: 10px;background:#f9f9f9;}
/* rwd tab */
/**/@media screen and (max-width: 1199px){
	.logo{margin-top: -42px;}
}
/**/@media screen and (max-width: 975px){

.search-box{position: fixed;right: 10px;top: 80px;}
.logo{margin-top: 0;}
.links{display: none;}
.index-banner{margin-top: 205px;background-position: 50% 162px;}

}
@media screen and (max-width: 843px){

.fb-page{display: none;}
.news-in{margin: 0;}

}
/**/@media screen and (max-width: 810px){

.banner{margin-top: 268px;}
.header-link{float: none;margin: 0 auto;background-position: 50%;width: 100%;padding-left: 34%;}
.header-btn{margin: 0;position: relative;top:56px;}
.index-banner{margin-top: 255px;background-position: 50% 225px;}
.logo{float: none;text-align: center;}
.search-box{float: none;top: -10px;position: relative;right: 0;width: 386px;margin: 5px auto 0 auto;}
.search-box div:first-child{margin-left: 0;}

}
@media screen and (max-width: 767px){

.banner-text{padding: 48px 0 0 65%}
.content-left{display: none;}
.content-right-in{margin-left: 0;}
.news-in{margin: 0 20px;}

}
/**/@media screen and (max-width: 658px){

.header-link{padding-left: 22%;}
.serach{margin-top: -34px;}

}
@media screen and (max-width: 600px){

.header-link{padding-left: 15%;}

}